@import "../components/message/message.css";

.app-container {
    margin-top: 4rem;
}

.chat-container {
    height: 75vh;
}

.messages-container {
    height: 80%;
    padding: 30px;
    border-radius: 30px;
}

.messages-container ul {
    height: 100%;
    overflow: auto;
    margin: 0;
    scroll-behavior: smooth;
}

.inputs-container {
    padding-left: 30px;
    padding-right: 30px;
}

.is-typing {
    font-weight: bolder;
}